@{
    ViewData["Title"] = "Contact Us ";
}
<h1>@ViewData["Title"]</h1>

<div>
    <label style="color:blue">
        Enter Your Name:
    </label>
    <br />
    <input type="text" />
    <br />
    <label style="color:blue">
        Enter Your Number:
    </label>
    <br />
    <input type="text" />
    <br />
    <label style="color:blue">
        Reason to Contact Us
    </label>
    <br />
    <textarea style="height:200px ">

    </textarea>
    <br />
    <input type="submit" style="border-color :blue" />

</div>
