@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
    <h3 style="color:darkblue">
        <p align=center>
            WELCOME TO STUDENT UNIVERSITY<br>
            (Affiliated by JNTUH University)<br>
            (Accrediated by NAAC)<br>
            Kukatpally, Hyderabad - 500 085, Telangana, India
        </p>
        </h3>
        <label style="color:darkblue">
            List of Courses offered
            <ul>
                <li>CSE</li>
                <li>ECE</li>
                <li>MECH</li>
                <li>EEE</li>
                <li>CIVIL</li>
            </ul>
        </label>
    
    <div>
        <img src="https://media.istockphoto.com/photos/college-students-with-books-smiling-to-camera-over-grey-wall-picture-id1167992655?k=20&m=1167992655&s=612x612&w=0&h=zXHk2mrnzH2traDJAtVejJRXOfnEPxB7UHiYuhx0wuk=" width="900px" height="500px" />

    </div>
</body>
</html>
