<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="StyleSheet.css" />
</head>
<body>
<div class="about">
    <h1 style="color:darkblue">About Us</h1>
    <p>
        STUDENT University, Hyderabad was established on 2nd October 1972 by the ACT of State Legislature of Telangana No.16, as the first ever Technological University in the country. It has been in the forefront during the last forty-nine years (1972-2021) in providing quality technical education of relevance in the State and celebrating Golden Jubilee Year (2021-2022). In the year 1995 the University has been granted an Affiliating status by the state Government and since then STUDENT University has become one of the largest affiliating Universities in the state of Telangana and in the Country and granting affiliations to private colleges offering Engineering, Pharmacy, MBA and MCA programmes in the Unified State of Telangana .
    </p>
</div>
    </body>
